.footer {
  margin-bottom: 25px;
  padding-top: 80px;
}

.navbar {
  width: 100%;
  min-width: 100%;
  padding-top: 10px;
  background-color: hsla(0, 0%, 89.8%, 0);
  font-family: Lora, sans-serif;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.navbar.footer {
  position: relative;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.body {
  background-color: #fcf7f8;
  font-family: Montserrat, sans-serif;
}

.navlink {
  color: #000;
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
}

.navlink.footer {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.brand {
  padding-top: 17px;
  padding-bottom: 10px;
}

.brand.footer {
  padding-top: 80px;
}

.mainpage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mainpage.tertiary {
  height: 100vh;
}

.mainpage.tertiary.projects {
  height: auto;
  max-width: 80%;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mpdiv {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 75%;
  height: 80%;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.mpdiv.tertiary {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mpdiv.tertiary._4 {
  padding-top: 0px;
}

.mpdiv.tertiary.projects {
  width: 75%;
  padding-top: 0px;
  padding-right: 41px;
  padding-left: 41px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-block {
  padding-bottom: 35px;
  color: #000;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.text-block-2 {
  color: #000;
  font-size: 40px;
  line-height: 45px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.text-block-2.about {
  color: #fcf7f8;
  text-transform: uppercase;
}

.text-block-2.secondary {
  text-align: right;
}

.text-block-2.tertiary {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: Lora, sans-serif;
  font-size: 35px;
  font-style: italic;
  font-weight: 500;
  text-align: left;
  text-transform: none;
}

.text-block-2.tertiary._4 {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 25px;
  line-height: 40px;
  text-align: right;
}

.text-block-2.tertiary.projects {
  font-size: 25px;
  text-align: justify;
}

.text-block-2.tertiary.divider {
  text-align: center;
}

.text-block-3 {
  padding-top: 50px;
  font-family: Lora, sans-serif;
  color: #000;
  font-size: 25px;
  font-style: italic;
  font-weight: 600;
}

.text-block-3.about {
  padding-top: 50px;
  color: #fcf7f8;
}

.image {
  display: none;
  margin-bottom: 0px;
  padding-top: 0px;
}

.image-2 {
  padding-top: 0px;
}

.body-2 {
  background-color: #070831;
}

.text-span {
  font-style: italic;
}

.text-span-2 {
  font-style: italic;
}

.text-span-3 {
  font-style: italic;
}

.nav-link {
  color: #e5e5e5;
}

.nav-link-2 {
  color: #e5e5e5;
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
}

.nav-link-2.footer {
  font-size: 14px;
  font-style: normal;
}

.nav-link-3 {
  color: #e5e5e5;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: hsla(0, 0%, 89.8%, 0);
  font-family: Montserrat, sans-serif;
  color: #e5e5e5;
}

.container.columns {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.text-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  padding: 0px 0px 25px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: Lora, sans-serif;
  font-size: 20px;
  line-height: 45px;
  font-style: italic;
  font-weight: 500;
  text-align: justify;
}

.text-block-4.columns {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 25px;
  font-weight: 400;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #e5e5e5;
}

.heading {
  padding-left: 30px;
  font-family: Montserrat, sans-serif;
  color: #fcf7f8;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
}

.div-block-2 {
  width: 80vw;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 75px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #e5e5e5;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 45vw;
  height: 70vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 86.7%, 0);
  font-family: Lora, sans-serif;
  -o-object-fit: fill;
  object-fit: fill;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slide {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  overflow: scroll;
  width: 100%;
}

.heading-2 {
  font-family: Montserrat, sans-serif;
  color: #fcf7f8;
  font-weight: 800;
  text-transform: uppercase;
}

.heading-2.lightbgk {
  color: #000;
}

.heading-3 {
  padding-top: 40px;
  padding-bottom: 70px;
  font-family: Montserrat, sans-serif;
  color: #fcf7f8;
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
}

.heading-3.lightbgk {
  padding-bottom: 0px;
  color: #000;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}

.text-block-5 {
  position: -webkit-sticky;
  position: sticky;
  padding: 0px 40px 15px;
  color: #fcf7f8;
  font-size: 25px;
  line-height: 45px;
  font-style: italic;
  font-weight: 500;
  text-align: justify;
}

.text-block-5.citation {
  font-size: 18px;
  font-weight: 400;
}

.slide2 {
  overflow: scroll;
}

.slide3 {
  overflow: scroll;
}

.section-5 {
  padding-bottom: 0px;
}

.section-5.projects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  padding-top: 195px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-3 {
  padding-bottom: 80px;
}

.image-4 {
  padding-bottom: 80px;
}

.image-5 {
  display: block;
}

.section-4 {
  position: static;
  height: 100vh;
}

.scroll-snap-wrapper {
  overflow: scroll;
  width: 100vw;
  height: 100vh;
}

.section-1 {
  overflow: scroll;
  height: 100vh;
}

.section-2 {
  overflow: scroll;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  height: 100vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-4 {
  overflow: scroll;
}

.html-embed {
  display: none;
}

.section-1a {
  height: 100vh;
}

.section-2a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-3a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-4a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.html-embed-2 {
  display: none;
}

.heading-4 {
  margin-bottom: 50px;
  font-family: Lora, sans-serif;
  color: #000;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
}

.section-5a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.heading-4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #fcf7f8;
  font-weight: 900;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33vw;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.link {
  padding-bottom: 25px;
  font-family: Lora, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
}

.columns-text-box {
  width: 50%;
  padding-right: 30px;
  padding-left: 30px;
  font-family: Lora, sans-serif;
  color: #000;
  font-size: 25px;
  line-height: 40px;
  font-style: italic;
  font-weight: 500;
  text-align: justify;
}

.columns-text-box.dark {
  color: #fcf7f8;
}

.text-box-a {
  width: 75%;
  font-family: Lora, sans-serif;
  color: #fcf7f8;
  font-size: 30px;
  line-height: 40px;
  font-style: italic;
  font-weight: 500;
  text-align: justify;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.projects-heading {
  font-family: Lora, sans-serif;
  color: #000;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
}

.body-3 {
  background-color: #fcf7f8;
}

.body-4 {
  background-color: #fcf7f8;
}

.image-6 {
  padding-top: 80px;
  padding-bottom: 25px;
}

.footer-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-media {
  margin-left: -332px;
}

.social-media-icon {
  padding: 80px 3px 25px;
}

.social-media-icon.dark {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.heading-5 {
  display: none;
}

.italic-text {
  color: #fcf7f8;
}

